.paint-app {
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-layout {
  display: grid;
  grid-template-columns: 80px 1fr 280px;
  height: 100%;
}
