<aside class="side-toolbar">
  <button
    class="tool-btn"
    (click)="selectTool('freehand'); setActive('freehand')"
    [class.active]="activeButton === 'freehand'"
  >
    🖊️
  </button>

   <button
    class="tool-btn"
    (click)="selectTool('select'); setActive('select')"
    [class.active]="activeButton === 'select'"
  >
    
  </button>
  <button
    class="tool-btn"
    (click)="selectTool('line'); setActive('line')"
    [class.active]="activeButton === 'line'"
  >
    −
  </button>
  <button
    class="tool-btn"
    (click)="selectTool('circle');setActive('circle')"
    [class.active]="activeButton === 'circle'"
  >
    ○
  </button>
  <button
    class="tool-btn"
    (click)="selectTool('rectangle');setActive('rectangle')"
    [class.active]="activeButton === 'rectangle'"
  >
    ▢
  </button>
  <button
    class="tool-btn"
    (click)="selectTool('square'); setActive('square')"
    [class.active]="activeButton === 'square'"
  >
    ▣
  </button>
  <button
    class="tool-btn"
    (click)="selectTool('triangle'); setActive('triangle')"
    [class.active]="activeButton === 'triangle'"
  >
    △
  </button>
  <button
    class="tool-btn"
    (click)="selectTool('ellipse');setActive('ellipse')"
    [class.active]="activeButton === 'ellipse'"
  >
    ⬭
  </button>
</aside>
